.header {
  margin-top: 50px 0 !important;
  align-items: center;
  justify-content: center;
}

.card {
  margin: 2% 2% !important;
}

.link {
  text-decoration: none;
}

.articles {
  border-bottom: 10px solid rgba(255, 0, 0, 0.6);
}

.newsHeader {
  color: midnightblue;
  font-size: 60px;
  font-family: 'Clicker Script', cursive;
  margin-bottom: 2px;
}

@media (max-width: 770px) {
  .card {
    margin: 2% 2% !important;
  }
}
